@font-face {
	font-family: Gothic;
	src: url("../fonts/century-gothic.ttf");
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: url(../img/bg.jpg) repeat;
}

.footer {
	background: url(../img/border_bottom.png) repeat;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 1.1%;
}

.main {
	.necklace {
		width: 65%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		@media only screen and (max-width: $width-point-1) {
			width: 98%;
		}
	}
	.artist-name {
		position: absolute;
		width: 25%;
		margin-left: 37.5vw;
		margin-top: 8vw;
		@media only screen and (max-width: $width-point-1) {
			width: 39%;
			margin-left: 31%;
			margin-top: 8.5vw;
		}
		@media only screen and (max-width: $width-point-4) {
			width: 53.4%;
			margin-left: 23.4%;
			margin-top: 3.9vw;
		}
	}
	.makeup {
		color: #fefefe;
		font-family: Gothic;
		text-transform: uppercase;
		position: absolute;
		font-size: 1.1vw;
		margin-left: 43.8vw;
		margin-top: -21.5vw;
		letter-spacing: 0.3vw;
		@media only screen and (max-width: $width-point-1) {
			font-size: 2.3vw;
			margin-left: 40vw;
			margin-top: -35.5vw;
		}
		@media only screen and (max-width: $width-point-4) {
			font-size: 4.3vw;
			margin-left: 32.1vw;
			margin-top: -39.5vw;
		}
	}
	.contacts {
		position: absolute;
		bottom: 6%;
		right: 6%;
		@media only screen and (max-width: $width-point-1) {
			position: static;
			padding: 5%;
		}
		.contact-element {
			line-height: 51px;
			@media only screen and (max-width: $width-point-2) {
				line-height: 31px;
				padding-top: 27px;
			}
			>img {
				width: 19px;
				display: inline-block;
				vertical-align: middle;
				@media only screen and (max-width: $width-point-2) {
					width: 6%;
				}
			}
			>p {
				font-family: Gothic;
				color: #e8d06b;
				font-size: 17.17px;
				text-transform: uppercase;
				margin-left: 19px;
				display: inline-block;
				vertical-align: middle;
				@media only screen and (max-width: $width-point-2) {
					width: 75%;
					margin-left: 5%;
				}
				@media only screen and (max-width: $width-point-3) {
					font-size: 4.2vw;
				}
			}
		}
	}
}